.fav-badge {
  position: relative;
}

.fav-badge__count {
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: -4px;
  border: 2px solid white; // Optional: to add a border for better visibility
}

.fav-icon {
  width: 24px;
  height: 24px;
}

.fav-icon.liked {
  fill: red;
}
