.photo-list__fav-icon {
  position: absolute;
  top: 10px; // Adjust as needed for spacing
  left: 10px; // Adjust as needed for spacing
  cursor: pointer;
  background-color: #EEEEEE;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 100%;
  border-width: 0.1px;
  z-index: 10; // Ensure it stays above the photo
}


.photo-list__fav-icon-svg {
  position: relative; // Ensure the SVG is the reference for the green dot's absolute positioning
  padding: 7px;
  top: 2px;
}

.fav-notification-dot {
  position: absolute;
  top: -4px; // Adjust as needed for spacing
  right: -4px; // Adjust as needed for spacing
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid white; // Optional: to add a border for better visibility
}
























// .photo-list__fav-icon {
//   position: relative;
//   top: 8px;
//   right: -8px;
//   cursor: pointer;
//   margin-bottom: -30px;
//   border-width: 0.1px;
//   background-color: #EEEEEE;
//   width: 32px;
//   height: 32px;
//   text-align: center;
//   border-radius: 100%;
// }

// .photo-list__fav-icon-svg {
//   padding: 7px;
//   top: 2px;

//   svg {
//     transition: fill 0.3s;
//   }
// }
