.photo-list__item {
  position: relative;
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  cursor: zoom-in; 
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 75px; /* Increase the size of the user profile picture */
  height: 75px; /* Increase the size of the user profile picture */
}
.photo-list__user-details {
  display: flex;
  justify-content: center; /* Center the user details */
  align-items: center;
  width: 100%;
  margin-top: 8px; /* Reduce the space between the photo and user details */
  font-size: 2 em; /* Increase the font size for user details */
}

.photo-list__user-info {
  margin-top: -15px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}