.top-nav-bar__topic-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.topic-list {
  display: flex; /* This ensures the items will be in a row */
  flex-direction: row;
  justify-content: center; /* Explicitly set direction to row */
  list-style: none;
  padding: 0;
  margin: 0;
}